@import "tailwindcss";

:root {
  background-color: #050505;
  color: white;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #050505;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}